body {
  -webkit-font-smoothing: antialiazed;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

#app {
  width: 100%;
  height: 100%;
  font-family: Arial;
  overflow-y: scroll;
  overflow-x: hidden;
}

.b-app {
  width: 100%;
  .b-main-banner {
    width: 100%;

    img {
      width: 100%;
    }
  }
  .b-announce {
    display: block;
    border-bottom: 1px solid #eee;
    padding: 10px;

    .b-announce__info {
      .b-announce__title {
        font-size: 24px;
        a {
          color: black;
        }
      }

      .b-announce__subtitle {
        font-size: 18px;
        margin-top: 7px;
        a {
          color: #999;
          text-decoration: none;
        }
      }
    }
  }
}


.b-test {
  display: block;
  width: 90%;
  margin: 10px auto 0;

  .b-test__title {
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    font-size: 24px;

  }

  .b-question {
    display: block;
    margin-top: 12px;
    color: #000;
    // width: 100%;

    .b-question__header {
      position: relative;
      width: 60%;
      margin: 0 auto 20px;

      .b-question__image {
        width: 100%;

        .b-question__overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #000;
          opacity: .5;
        }

        // img {
        //   width: 100%;
        // }
      }
      .b-question__text {
        font-size: 20px;
        color: #fff;
        width: 80%;
        padding: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);

        &.b-question__text--right {
          background-color: rgba(46, 111, 111, .5);
          margin-bottom: 15px;
        }

        &.b-question__text--wrong {
          background-color: rgba(181, 87, 87, .5);
          margin-bottom: 15px;
        }
      }
    }

    .b-question__next {
      display: inline-block;
      cursor: pointer;
      padding: 10px;
      border: 1px solid #eee;
    }

    .b-question__options {
      margin-bottom: 15px;

      .b-answer-option {
        @extend .b-question__next;
        box-sizing: border-box;
        margin-right: 5px;
        width: calc(50% - 5px);
        padding: 10px 15px;
        white-space: nowrap;

        .b-answer-option__text {
          white-space: normal;
          font-size: 18px;
          color: #999;
        }
      }
    }
  }
}

.b-result {

  .b-result__header {
    position: relative;
    width: 60%;
    margin: 0 auto 20px;

    .b-result__image {
      width: 100%;

      .b-result__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: .5;
      }

      img {
        width: 100%;
      }
    }
    .b-result__text {
      font-size: 20px;
      color: #fff;
      width: 70%;
      text-align: center;
      padding: 10px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%,-50%);
      -moz-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
      -o-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
    }
  }
  // .b-result__text {
  //   padding: 15px;
  //   font-size: 20px;
  //   color: #444;
  // }

  .b-result__link {
    text-align: center;
    a {
      text-decoration: none;
      color: #285473;
    }
  }
}

@media only screen and (max-width: 750px) {
  .b-test {
    .b-question {
      .b-question__header {
        width: 100%;

        .b-question__text {
          width: 90%;
        }
      }
      .b-question__options {
        .b-answer-option {
          width: 100%;
          margin-bottom: 5px;
        }
      }
    }
    .b-result {
      .b-result__header {
        width: 100%;

        .b-result__text {
          width: 90%:
        }
      }
    }
  }
}

.b-nav {
  width: 100%;
  color: #fff;
  border-bottom: 1px solid #aaa;

  .b-nav__element {
    position: relative;
    padding: 5px 10px;
    margin-right: 10px;
    display: inline-block;
    font-size: 18px;

    &:after {
      position: absolute;
      display: block;
      content: "";
      right: -5px;
      width: 1px;
      height: 20px;
      top: 50%;
      background-color: #888;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    &:last-child:after {
      display: none;
    }

    a {
      color: #888;
      text-decoration: none;

      &.active {
        color: #000;
        text-decoration: underline;
      }
    }
  }
}
